#map_a620533b73fc4a38880428953e8ae81f {
    position: relative;
    width: 70.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
    float: left;
    }
    html{
    font-family: 'Questrial', sans-serif;

    }
    input {
        margin-top: 20px;
        width:50%;
        left: -9999px;
        position: absolute;
        }
    
    #resultat_heuristique {
        display:inline-block;
        position: absolute;
        width: 30%;
    }
    button{
      background:rgb(4, 160, 25);;
      color:#fff;
      border:none;
      position:relative;
      height:60px;
      width:120px;
      font-size:1.6em;
      border-radius: 10px;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
      left:140px;
      top:560px;
    }
    button:hover{
      background:#fff;
      color:#1AAB8A;
    }

   
      
    label {
    display: block;
    position: relative;
    margin: 20px;
    height:50px;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 100px;
    color: black;
    background-color: #e4dfdc;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    }

  

   
    label:hover, input:focus + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    }

    input:checked + label {
    background-color: #dbd9d7 ;
    }

    input:checked + label::before {
    background-color: #fff;
    }

    p{
        color: black;
        font-weight:bold;
    }
    /*#id5{ 
      background-color: #0a9e0a;
      height: 50px;
      padding-bottom: 5px;
      border-radius: 100px;
      border: #0a9e0a;
      
    }
    #id7{ 
      background-color: #ce0909;
      height: 50px;
      padding-bottom: 5px;
      border-radius: 100px;
      
    }
*/
#id7{
  background: rgb(57 227 80);
}
#id6{
  background: rgb(4, 160, 25);
}
#id5{
  background: rgb(4 175 26);
}
#id8{
  background: rgb(10 86 20);
}
#id3{
  background: rgb(238, 108, 22);
}
#id2{
  background: rgb(177, 69, 6);
}
#id9{
  background: rgb(201, 1, 1);
}


   

